/* з бібліотекою  Emotion wtq afsk yt gjnhs,ty*/
/* .title {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
} */

/* .box {
    background-size: contain;
    background-color: red;
} */